<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<listener>
	<listener-class>ca.ikeypro.Listener.MyHttpSessionListener</listener-class>
</listener>   
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>ca.ikeypro.control.Init</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>oracle.jdbc.OracleDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:oracle:thin:@ikeypro.ca:1521:XE</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>ikeypro</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>ikeypro2019</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ListeProduits</servlet-name>
        <servlet-class>ca.ikeypro.control.ListeProduits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererProduit</servlet-name>
        <servlet-class>ca.ikeypro.control.GererProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>ca.ikeypro.control.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax</servlet-name>
        <servlet-class>ca.ikeypro.control.Ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduits</servlet-name>
        <url-pattern>/ListeProduits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererProduit</servlet-name>
        <url-pattern>/GererProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax</servlet-name>
        <url-pattern>/Ajax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
